@charset 'utf-8';

header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--yellow);
  background: var(--black);

  div {
    margin-left: 12px;
    display: flex;
    align-items: center;

    img {
      width: 22px;
      height: 22px;
      transform: translateY(-3px);
    }

    h1 {
      margin-left: 12px;
      font-size: 14px;
    }
  }

  p {
    margin-right: 12px;
  }
}