@charset 'utf-8';

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black);
  z-index: 800;
}

#loading-items-wrapper {
  width: fit-content;
  margin: 160px auto;
  z-index: 900;
  display: flex;
  align-items: center;

  #loading-img {
    background: url(../assets/loading-img.png) no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
    animation: jump 0.5s steps(6) infinite;
    margin-right: 12px;
    transform: translateY(-3px);
  }

  span {
    margin-left: 4px;
    letter-spacing: 2px;
    animation: flicker 0.5s step-end infinite;
  }
}

@keyframes jump {
  to {
    background-position: -144px 0;
  }
}

@keyframes flicker {

  0%,
  35%,
  75%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}