@charset 'utf-8';

* {
  font-family: MenuCard, sans-serif;
}

body {
  background: var(--base);
  color: var(--white);
  font-size: 14px;
}

main {
  height: calc(100vh - 48px - 32px);
}

canvas {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

button {
  padding: 4px;
  background: var(--blue);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}