body {
  background: var(--base);
  font-family: monogram, sans-serif;
}

canvas {
  display: block;
  margin: 40px auto;
  background: var(--base);
}

button {
  font-family: monogram, sans-serif;
  font-size: 24px;
  padding: 4px;
  background: var(--btn-primary);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}