@charset 'utf-8';

:root {
  /* カラー */
  --black: #000000;
  --white: #f9f8f6;
  --yellow: #F4B41A;
  --blue: #3dacd7;
  --story: #212121;

  /* サイズ */
  --canvas-width: 264px;
  --canvas-height: 216px;
  --btn-size: 40px;
}

@font-face {
  font-family: MenuCard;
  src: url(../assets/MenuCard.ttf);
}

html {
  touch-action: manipulation;
}

* {
  user-select: none;
  -webkit-user-select: none;
}