.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--black);
  z-index: 100;
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: var(--black);
  border: 1px solid var(--white);
  padding: 32px;
  text-align: center;
  z-index: 300;

  h2 {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

#clear-modal {

  button:nth-child(2) {
    margin-bottom: 16px;
  }
}

#how-to-modal {
  p {
    font-size: 12px;
    line-height: 20px;
  }

  img {
    width: 24px;
    transform: translateY(5px);
    margin: 0 4px;
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 12px;
  }

  button {
    margin-top: 32px;
  }
}